@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-cinza-maisescuro: #1d1d1d;
}

@theme inline {
  --color-cinza-maisclaro: #919191;
  --color-amarelo-escuro: #be9500;
  --color-amarelo-claro: #f8c301;
  --color-cinza-maisescuro: var(--color-cinza-maisescuro);
  --color-cinza-escuro: #353535;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter), var(--font-sans), ui-sans-serif;
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: var(--font-inter),Arial, Helvetica, sans-serif;
}
