.style-div {
    background-color: var(--color-cinza-escuro);
    padding: 8px;
    border-radius: 5px;
    gap: 10px;
}
.style-opt {
    font-size: 0.9em;
    background-color: var(--color-cinza-escuro);

}
.style-dialog {
    transition: all;
    transition-duration: 1s;
}
.style-dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(1px);
}